@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
    background-color: rgb(119, 119, 119);
}

.container {
    height: 100%;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .5;
}

.form-signin {
    position: relative;
    background-color: rgba(233, 230, 230, 0.788);
    max-width: 500px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.39);
  }

.form-field {
    background: transparent;
    border: none;
    box-shadow: none;
    height: 3rem;
}

.form-field:focus {
    background: rgba(199, 199, 199, 0.644);
    border: none;
    box-shadow: none;
}

button {
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0.568) !important;
    border: none !important;
}

button:focus {
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.685) !important;
}

#alert {
    font-size: 18px;
}

.footer {
    font-size: 12px;
    color: rgb(204, 204, 204);
    z-index: 1;
}

a {
    color: rgb(204, 204, 204);
}
