<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ground Station | {{ title }}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/login.css">

  <script src="https://unpkg.com/htmx.org@1.7.0"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>

<body>
  <div class="background"></div>

  <main class="container text-center d-flex flex-column align-items-center">        
    <div class="form-signin m-auto">
      <h1 class="h2 mb-3 fw-normal">Sign in</h1>
      <form class="login-form">
        <!-- Username -->
        <div class="form-group mb-3 border-bottom border-secondary">
          <input type="text" class="form-field" name="username" placeholder="Email" required>
        </div>
        <!-- Password -->
        <div class="form-group mb-3 border-bottom border-secondary">
          <input type="password" class="form-field" name="password" placeholder="Password" required>
        </div>
        <!-- Login button -->
        <div class="button col-md-6 mt-3">
          <button class="w-100 btn btn-lg btn-primary" type="submit" id="submitButton">Login</button>
        </div>
        <!-- Error alert -->
        <div class="mb-3 mt-4 fw-normal text-danger" id="alert" >Wrong login or password</div>
      </form>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
